.js-hide{
	display: none !important;
}
.waterfall-status-done{
	text-align: center;
	font-size: 12px;
	line-height: 40px;
	color: #4a4a4a;
}
.waterfall-status-loading{
	background: url(//gw.alicdn.com/tps/i3/T1FbJ1FDdaXXa679Pe-40-40.gif) center center no-repeat;
    height: 50px;
    background-size: 20px 20px;
}